/* add home page styles here */
.shells {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.shell {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative; 
}

.shell.reveal img {
    transform: translateY(-60px);
}
.ball {
    z-index: 10;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 120px;
    background-color: #e8e8e4ff;
    border-radius: 50%;
    box-shadow: 5px -2px 5px rgba(0, 0, 0, 0.6);
}
#shell-one-img {
    width: 60%;
    transition: transform 0.5s ease-in-out;
    z-index: 20;
    margin-bottom: 60px;
    
}
#shell-two-img {
    width: 60%;
    transition: transform 0.5s ease-in-out;
    z-index: 20;
    margin-bottom: 60px;
} 
#shell-three-img {
    width: 60%;
    transition: transform 0.5s ease-in-out;
    z-index: 20;
    margin-bottom: 60px;
    
}
.results {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}
.ball {
    z-index: 10;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 120px;
    background-color: green;
    border-radius: 50%;
    box-shadow: 5px -2px 5px rgba(0, 0, 0, 0.6);
}